<div class ="max-w-4xl mx-auto px-4 py-8">



  <!-- Article Header -->

  <div class="bg-gray-100 rounded px-3 py-2 mb-4">

<h1 class="text-3xl font-bold text-gray-800 mb-2"><%= @article.title %></h1>
<p class="text-gray-600 mb-6 leading-relaxed"><%= @article.body %></p>



  <!-- Edit and Delete Buttons -->
<div class="flex gap-2">
  <%= link_to "âœï¸ Edit Article ", edit_article_path(@article) %>  
   <span>|</span>
  <%= link_to "ðŸ—‘ï¸ Destroy Article", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</div>

</div>





<!-- Comments Section -->

<h2 class="text-2xl font-semibold text-gray-800">Comments</h2>

<%= render @article.comments %>
</div>





  <!-- Add a Comment -->
  <div class ="max-w-4xl mx-auto px-4 py-8">

<h2 class="text-2xl font-semibold text-gray-800 mb-4" >Add a comment:</h2>

  <div class="bg-white p-6 rounded-lg shadow-md mb-8">

<%= render "comments/form", article: @article %>
</div>


<%= link_to "â† Homepage", articles_path, class: "inline-block text-blue-600 hover:underline"%>



</div>